/* #region FIRST */

.first{
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.first .up{
    margin-bottom: 40px;
}

.first  .down{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    position: relative;

    height: 300px;

    border: 1px solid var(--primary-grey);
    border-radius: var(--primary-border-radius);
    padding: 20px;
}


.first .down img{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.down #candle{
    max-width: 70%;
    max-height: 70%;
}

@media (max-width: 800px){
    .first{
        margin-top: 120px;
    }
}


/* #endregion */

/* #region SECOND */

.second{
    margin: 30vh 0;
}

.secondCont{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}   

.secondCont p{
    text-align: center;
}

.secondCont h1{
    text-align: center;

    letter-spacing: 1px;
    color: var(--primary-white);
}

/* #endregion */

/* #region mm */

.mm{
    width: 60%;
    margin: 30vh auto;
}

.mmCont{
    display: flex;
    flex-direction: column;
}

.mmHeader{
    border-bottom: 1px solid var(--primary-grey);
}

.syy{
    border-bottom: 1px solid var(--primary-grey);
    height: 100px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.syy h1{
    color: var(--secondary-grey);
}

.syy i{
    color: var(--secondary-grey);
    font-size: 25px;
}

@media (max-width: 560px){
    .mm{
        width: 80%;
    }
}

@media (max-width: 380px){
    .syy h1{
        font-size: 16px;
    }
}

/* #endregion */

/* #region THIRD */

.third{

    width: 60%;
    margin: auto;

    height: fit-content;

    margin-top: 5vh;

    margin-bottom: 10vh;
}

.thirdCont{
    display: flex;
    flex-direction: column;
}


.thirdCont .down{
    margin: auto;
    margin-top: 40px;
    border: 1px solid var(--primary-grey);
    border-radius: var(--primary-border-radius);
    padding: 20px;

    width: 100%;
    min-height: 300px;
}

.thirdCont .left, .thirdCont .right{
    width: 40%;
}

/* #endregion */

h1{
    margin: 20px 0;
}

p{
    width: 100%;
    margin-top: 10px;
}

.left, .right{
    width: 40%;
    margin: 50px auto;
    height: 80%;
}

@media (max-width:800px){
    .first{
        flex-direction: column;
        height: 100%;
    }

    .left, .right, .first .left, .first .right, .thirdCont .left, .thirdCont .right{
        width: 80%;
    }

    .first .down{
        height: 70vw;
    }

    .secondCont{
        flex-direction: column;
    }

    .secondCont .left{
        margin-top: 40px;
    }

    .thirdCont{
        flex-direction: column;
    }

}

