.first{
    margin-top: 120px;
    display: flex;
}

.first h1{
    font-family: "Karla", serif;
    font-size: 60px;
    text-align: left;
    margin: 40px 0;
}

.icons{
    width: 350px;
    height: fit-content;
    display: flex;
}

.fa-candle-holder, .fa-arrow-right, .fa-trash{
    width: 33%;
    height: 50px;
    display: block;
    color: black;
    font-size: 50px;
    text-align: center;
}

.icons img{
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;

    user-select: none;
}

/* .icons i{
    position: relative;
} */

.icons span{
    position: relative;
    width: 33%;
}

.icons span i{
    width: 100%;
}

.fa-xmark{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 65px;
    width: 60px;
    height: 60px;
    text-align: center;
    transform: translate(2px, -10px);
    color: red;
}

.first p{
    font-family: "Karla", serif;
    text-align: left;
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}

@media (max-width: 400px){
    .icons{
        width: 300px;
    }
}

.left{
    width: 45%;
    margin: auto;
}

.right{
    width: 45%;
    margin: auto;
}

.right img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
}