
/* #region first */

.first{
    margin-top: 70px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstCont{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-between;
}

.left{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left h1{
    font-family: "Karla", serif;

    font-size: 50px;

    margin: 20px 0;
    margin-top: 0px;
    color: var(--primary-grey);
}

.left p{
    font-family: "Karla", serif;

    font-size: 20px;
    margin-bottom: 20px;
    width: fit-content;
    color: var(--secondary-grey);
}

.text{
    margin-bottom: 5vh;
}

.img{
    
    margin-bottom: auto;

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    background-image: url("../images/KynttiläTeline-1-min.jpg");

    border-radius: var(--primary-border-radius);
    border: 3px solid var(--primary-green);
    box-shadow: 0px 0px 5px #fff;
}

.right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: var(--primary-border-radius);
    box-shadow: 0px 0px 5px #fff;   
}

@media(max-width: 800px){

    .first{
        height: 100%;
    }

    .firstCont{
        flex-wrap: wrap;
    }

    iframe{
        height: 100%;
    }

    .right, .left{
        width: 100%;
        height: 80vh;
    }

    .left{
        margin: 5vh 0;
    }

    .right{
        margin-bottom: 5vh;
    }
}



/* #endregion */

 
/* #region second */

.second{
    height: calc(90vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondCont{
    display: flex;
    height: 80%;
    width: 90%;
    justify-content: space-between;
}

.secondImg{
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;

    background-image: url("../images/KynttiläKeräysBoxi.jpg");

    border-radius: var(--primary-border-radius);
    border: 3px solid var(--primary-green);
    box-shadow: 0px 0px 5px #fff;
}

.secondImg img{
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: var(--primary-border-radius);
    border: 3px solid var(--primary-green);
    box-shadow: 0px 0px 5px #fff;
    vertical-align: middle;
}

.secondText{
    width: 45%;
}

.secondText h1{
    font-family: "Karla", serif;

    font-size: 50px;

    margin: 20px 0;
    margin-top: 0px;

    color: var(--primary-grey);
}

.secondText p{
    font-family: "Karla", serif;

    font-size: 20px;
    margin-bottom: 20px;
    width: fit-content;
    color: var(--secondary-grey);
}

@media (max-width: 870px){
    .first h1, .secondText h1{
        font-size: 45px;
    }
}

@media (max-width: 800px){
    .first h1, .secondText h1{
        font-size: 50px;
    }

    .secondCont{
        flex-direction: column-reverse;
    }

    .secondImg, .secondText{
        width: 100%;
    }

    .secondText{
        margin-bottom: 50px;
    }

    .secondCont{
        height: 90%;
    }

    .second{
        height: 100vh;
    }
}

/* #endregion */


@media(max-width:420px){
    .left h1, .secondText h1{
        font-size: 38px ;
    }
}

