
.first{
    width: 60%;
    margin: 120px auto;
}

h1{
    font-size: 22px;
    color: var(--primary-white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

p{
    color: var(--secondary-grey);
    font-size: 18px;

    font-family: "Inter", sans-serif;
    font-weight: 400;
}
