

.first{
    height: calc(90vh - 100px);
    margin-top: 150px;
    width: 100%;
}

.firstCont{
    display: flex;
    width: 60%;
    /* height: 70%; */
    margin: auto;
    padding-bottom: 10%;
    align-items: center;
}

.aarni, .ensti{
    width: 50%;
    height: fit-content;
}

.aarni h1, .ensti h1{
    text-align: center;
    margin: 40px 0;
}

.card{
    width: 90%;
    height: fit-content;

    margin: auto;

    /* border: #cccccc 2px solid; */
    border: 1px solid var(--primary-grey);
    border-radius: var(--primary-border-radius);
    padding: 20px;
    /* box-shadow: #aeaeae 0 0 5px;  */
    /* background-image: linear-gradient(to right bottom, var(--primary-white) 0%, var(--primary-white) 100%); */
}

.row2, .row3, .row4{
    display: flex;
    height: fit-content;
    align-items: center;
    text-align: left;
}

i{
    margin: 20px 0;
    font-size: 25px;
    color: var(--secondary-grey);
    width: 20px;
}

p{


    margin-left: 20px;

}

.up{
    width: 60%;
    margin: auto;
}

.up .card{
    width: 95%;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}


@media (max-width:940px){
    .firstCont, .up{
        width: 95%;
    }

    /* .up .card{
        width: 100%;
    } */
}
@media (max-width: 800px){

    .first{
        height: 100%;
    }

    .firstCont, .up{
        width: 90%;
        flex-wrap: wrap;
    }

    .up .card{
        width: 90%;
    }

    .aarni, .ensti{
        width: 100%;
    }
}

@media (max-width:450px){
    p{
        font-size: 1rem;
    }

    .firstCont{
        width: 100%;
    }

    .up .card{
        width: 100%;
    }
}
